<ion-header>
    <ion-navbar color="dark">
        <ion-title>{{title}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="didPressAddItem()">
                <ion-icon name="add-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-list-header>
            Items by category
        </ion-list-header>

        <ion-item-group *ngFor="let group of itemsByCategory">
            <ion-item-divider color="light">
                {{group.category}}
                <p item-end>{{group.total | currency:'MXN'}}</p>
            </ion-item-divider>
            <ion-item *ngFor="let item of group.items">
                <h2>{{item.name}}</h2>
                <p item-end>{{item.numberOfItems}} / {{item.price | currency:'MXN'}}</p>
            </ion-item>
        </ion-item-group>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button icon-right color="dark">
                Total: {{list?.total | currency: 'MXN'}}
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button icon-right color="primary" (click)="didPressPay()">
                Pay
                <ion-icon name="card"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
